*{
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
  
  }
  

.like {
  /* position:fixed; */
  box-shadow: 0px 3px #1F70AF;
  display: inline-block;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 125px;
  margin: 200px;
  text-decoration: none;
  background: #2788D6;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 50ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;}
.like:hover {
  cursor: pointer;
}

.like:focus {
  outline: none;
}